main {
  
  display: flex;
  justify-content : space-around;
  margin: 2rem;
  padding: 0;
}

h1 {
  text-align: center;
}

h1::after {
  content: '\26BD';
}

.scores {
  margin-right: 2rem;
}

#scores_table {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(10, 10, 10);
  border-radius: 5px;
  width: 30vw;
  margin: 0;
  padding: 5px;
  overflow: scroll;
  box-shadow: 3px 4px rgb(121, 121, 4);
  max-height: 50vh;
}

.recent_scores {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

td {
  line-height:2;
  border-radius: 1px;
  padding: 0.5em;
  font-family: 'Courier New', Courier, monospace;
}

td:nth-child(even) {
  background-color: rgb(230, 230, 230) !important;
}

td:nth-child(1)::after {
  content: '\2654';
  color: goldenrod;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#add_score {
  margin-left: auto;
}

#refresh_scores {
  height: 100%;
}
